[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
python-dotenv = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
uvicorn = "*"
httpx = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
